body {
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.tableDiv {
    width: 100%;
    min-width: 1024px;
    background-color: #ffffff;
    overflow-y: auto;
}

.objList {
    height: auto;
    width: 100%;
}

.Repeater {
    height: auto;
    width: 100%;
}

.Documents {
    height: auto;
    width: 100%;
}
/*цвета для таблиц*/
.td-dark-grey {
    background-color: #EFEBE9 !important;
}

.td-white {
    background-color: #ffffff !important;
}

.td-light-grey {
    background-color: #ffffff !important;
}

.block-dark-grey {
    background-color: #bbbbbb !important;
}

.td-light-grey-div {
    background-color: #f3f3f3 !important;
    font-size: 13px;
    border-left: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
}

.input-filter {
    width: calc(100% - 32px);
    height: 32px;
    border: 1px solid #d0d0d0;
    border-right: 0px;
    font-size: 14px;
    color: #282828;
    background-color: #ffffff;
    padding: 2px;
}

.icon-delete {
    width: 32px;
    height: 32px;
    background-color: rgb(141,110,99);
    font-size: 18pt;
    color: white;
    text-align: center;
}

.row-block {
    float: right;
    height: 20px;
    width: 60px;
    padding-right: 7px;
}

.row-down {
    background: url('images/row_down.png') no-repeat;
    height: 12px;
    width: 12px;
    cursor: pointer;
    float: right;
}

.row-up {
    background: url('images/row_down.png') no-repeat;
    height: 12px;
    width: 12px;
    cursor: pointer;
    float: right;
    -webkit-transform: rotate(180deg); /* Chrome and other webkit browsers */
    -moz-transform: rotate(180deg); /* FF */
    -o-transform: rotate(180deg); /* Opera */
    -ms-transform: rotate(180deg); /* IE9 */
    transform: rotate(180deg); /* W3C complaint browsers */
    /* IE8 and below */
    filter: progid:DXImageTransform.Microsoft.Matrix(M11=-1, M12=0, M21=0, M22=-1, DX=0, DY=0, SizingMethod='auto expand');
}

    .row-up.selected {
        display: inline-block;
        transform: rotate(180deg);
        background: url('images/row_down_selected.png') no-repeat;
        width: 12px;
        height: 12px;
        cursor: pointer;
    }

.row-down.selected {
    display: inline-block;
    background: url('images/row_down_selected.png') no-repeat;
    width: 12px;
    height: 12px;
    cursor: pointer;
}

.mainContainer {
    /*  margin-top: 30px;*/
}

    .mainContainer .objList .td-light-grey td {
        padding: 20px 0 10px 0;
    }

        .mainContainer .objList .td-light-grey td div.icon-delete,
        .mainContainer .objList .td-light-grey td input.input-filter {
            float: left !important;
        }

table.objList tr td {
    padding: 10px;
    border-bottom: 2px solid #ffffff;
}

    table.objList tr td + td {
        padding: 10px;
        border-left: 2px solid #ffffff;
    }

table.Repeater tr td {
    padding: 10px;
    border-bottom: 1px solid #dddddd;
}


    table.Repeater tr td + td {
        padding: 10px;
        border-left: 2px solid #ffffff;
    }



input {
    text-indent: 5px;
}

    input[type=date] {
        text-indent: 5px;
    }

        input[type=date]::-webkit-inner-spin-button,
        input[type=date]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

.selectpicker {
    max-width: 100%;
    width: 100%;
    height: 32px;
    border: 1px solid #d0d0d0;
    font-size: 14px;
    background-color: #ffffff;
    padding: 5px;
    min-width: 150px;
}

.part_selected {
    background-color: #D7CCC8;
}

.showMoreBtn {
    margin: 10px auto 0;
    text-align: center;
}

.logo {
    margin: 10px;
    float: left;
    vertical-align: middle;
}

.header {
    margin: 0 auto;
    text-align: center;
}

.md-display-2 {
    white-space: nowrap;
    padding: 15px;
}

.centered-header {
    vertical-align: middle;
    margin: 0 auto;
}

md-grid-list {
    margin: 8px;
}

.gray {
    background: #f5f5f5;
}

.green {
    background: #b9f6ca;
}

.yellow {
    background: #ffff8d;
}

.blue {
    background: #84ffff;
}

.purple {
    background: #b388ff;
}

.red {
    background: #ff8a80;
}

md-grid-tile {
    transition: all 400ms ease-out 50ms;
    background-color: #EFEBE9;
}

.grid-tile {
    transition: all 400ms ease-out 50ms;
    background-color: #EFEBE9;
}

.lenta {
    position: absolute;
    top: 0px;
    right: 0px;
}

.BtnWord {
    width: 18px;
    height: 18px;
    float: left;
    margin-left: 10px;
    background: url("../Content/images/ico_docx.png") no-repeat;
    background-size: 18px 18px;
}

.BtnPhoto {
    width: 18px;
    height: 18px;
    float: left;
    margin-left: 10px;
    background: url("../Content/images/ico_photo.png") no-repeat;
    background-size: 18px 18px;
}

.BtnXml {
    width: 18px;
    height: 18px;
    float: left;
    margin-left: 10px;
    background: url("../Content/images/ico_xml.png") no-repeat;
    background-size: 18px 18px;
}

.BtnExel {
    width: 18px;
    height: 18px;
    float: left;
    margin-left: 10px;
    background: url("../Content/images/ico_xlsx.png") no-repeat;
    background-size: 18px 18px;
}

.BtnPdf {
    width: 18px;
    height: 18px;
    float: left;
    margin-left: 10px;
    background: url("../Content/images/ico_pdf.png") no-repeat;
    background-size: 18px 18px;
}

.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    width: auto;
    height: 100px;
    text-align: center;
    padding: inherit;
    /*padding-top: 25px;
    margin: 10px;*/
}

.dragover {
    border: 5px dashed blue;
}

.slider {
    width: 320px;
    max-width:90%;
    height: auto;
    max-height: 400px;
    overflow: hidden;
    position: relative;
    background: #EFEBE9;
    display: flex;
    justify-content: center;
    /*border: 20px solid #FFF;
    margin-top: 20px;*/
}

.slide {
    width:100%;
}

.arrow {
    position: absolute;
    z-index: 1002;
    display: block;
    top: 50%;
    margin-top: -35px;
    width: 36px;
    height: 71px;
    outline: none;
    cursor: pointer;
    background: url(../Content/images/blank.gif) no-repeat;
}

    .arrow.prev {
        opacity: 0.2;
        left: 20px;
        background-image: url(../Content/images/paddle_prev_999.png);
        transition: 0.2s linear all;
    }

    .arrow.next {
        opacity: 0.2;
        right: 20px;
        background-image: url(../Content/images/paddle_next_999.png);
        transition: 0.2s linear all;
    }

    .arrow.prev:hover {
        opacity: 1;
        background-image: url(../Content/images/paddle_prev_fff.png);
    }

    .arrow.next:hover {
        opacity: 1;
        background-image: url(../Content/images/paddle_next_fff.png);
    }
/*---------------------------------------------------------
NAV
---------------------------------------------------------*/

.nav {
    text-align: center;
    display: block;
    position: absolute;
    z-index: 1002;
    left: 0;
    bottom: -4px;
    right: 0;
    height: 48px;
}

.nonDraggableImage {
    -webkit-user-drag: none;
}

.nav .wrapper {
    margin: 0 auto;
    width: 100%;
    padding: 1em 0 .8em;
}

.nav ul {
    margin: 0;
    width: 100%;
}

.nav .dot, .nav .dot a {
    display: inline-block;
    zoom: 1;
}

.dots .dot {
    position: relative;
    margin: 0 8px;
    width: 12px;
    height: 12px;
}

    .dots .dot a {
        position: absolute;
        top: 2px;
        left: 2px;
        width: 6px;
        height: 6px;
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
        background: #FFF;
        border: 1px solid transparent;
        outline: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        -webkit-transition: background-color 0.25s, border-color 0.25s;
        -moz-transition: background-color 0.25s, border-color 0.25s;
        transition: background-color 0.25s, border-color 0.25s;
    }

        .dots .dot a.active {
            border-color: #FFF;
            background-color: transparent;
        }

.inputdemoErrors .inputErrorsApp {
    min-height: 48px;
}

.deletefile {
    text-decoration: line-through;
    color: gray;
}

.spacer {
    flex: auto;
    background-color: black;
}

.md-subheader.md-default-theme  {
  background-color: rgb(141,110,99);
  color:white;
  text-align:center;
  margin: 0; }

.loginIn {
  width: 370px;
  height: 32px;
  font-size: 14px;
  background-color: #fff;
  padding: 5px;
}


.validation-summary-errors {
      margin-left: 10px;
  font-size: 12px;
  color: #b94a48;
}

/*block for disable window when someting is loading*/
.loading-div
{
    position: fixed;
    display:none;
    top:0px;
    left:0px;
    height:100%;
    width:100%;
    background:rgba(255,255,255,0.8);
    z-index:2000;
}
.loading-spiner
{
    left:calc(50% - 20px);
    top:50%;
    position:relative;
}
.loading-text-container
{
    position:relative;
    left: calc(50% - 105px);
    top: calc(50% + 19px);
    width: 210px;
    height: 38px;
}
.loading-text-container .text-container 
{
    position:absolute;
    width:100%;
    bottom:0;
    text-align:center;
    font-family:Tahoma;
    font-size:14px;
}
.block-loader {
    display:block!important;
}