<md-dialog aria-label="FirstPage" style="height:100%;width:100%;">
    <md-dialog-content class="sticky-container">
        <div class="mainFirstPageContainer">
            <div class="mainFirstPageHeader">
                Книга памяти жителей Кудымкарского района
            </div>

        </div>
        <main>
            <p>
                Электронная Книга Памяти Кудымкарского района.
            </p>
            <br/>
            <p>
                Этот проект начат в 2015 году в год семидесятилетия победы в Великой Отечественной Войне. Книга
                создается в память о наших героических земляках, трудившихся в тылу, сражавшихся и погибших на фронтах
                самой страшной войны в истории человечества, выполнявших в разные годы свой гражданский долг в
                «горячих» точках, пострадавших от репрессий… В знак уважения к ним здесь собраны документы,
                фотографии, информация об этих людях, чтобы потомки могли найти фамилии своих предков, узнать и
                рассказать о них. Это наш посильный вклад в то, чтобы увековечить в памяти будущих поколений
                беспримерный подвиг солдат и народа, совершенный в годы Великой Отечественной Войны.
            </p>
            <p>
                «Книга Памяти Кудымкарского района» - результат усилий многих людей, которые собирали и вносили в нее
                информацию. Создание Книги Памяти не быстрый процесс, работа ведется постоянно, база пополняется. Если
                в базе нет искомых Вами имён, или у Вас есть информация для Книги, Вы можете связаться с нами: адрес
                электронной почты, тел.
            </p>

        </main>
        <div class="buttonFirstPage">
            <md-button ng-click="oncancelClick()" class="md-raised md-primary">Продолжить</md-button>
        </div>

    </md-dialog-content>
</md-dialog>  