<md-dialog aria-label="FirstPage" style="height:100%;width:100%;">
    <md-dialog-content class="sticky-container">
        <div class="mainFirstPageContainer">
            <div class="mainFirstPageHeader">
                Книга памяти жителей Кудымкарского района
            </div>

        </div>
        <main>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </main>
        <div class="buttonFirstPage">
            <md-button ng-click="oncancelClick()" class="md-raised md-primary">Продолжить</md-button>
        </div>
    </md-dialog-content>
</md-dialog>  