<div layout="column" style="width:100%">
    <div layout="row" layout-padding>
        <div flex="20">
            <md-button class="md-raised md-primary" ng-click="handlers.onGetBackClick()">&nbsp;&nbsp;Вернуться&nbsp;&nbsp;</md-button>
        </div>
        <div flex="40"></div>
        <div flex="40" ng-if="authentication.isAuthorized">
            <div layout="row" layout-align="end center">
                <div ng-hide="!editMode" ng-cloak>
                    <md-button class="md-raised md-primary" ng-click="handlers.onSaveClick()">&nbsp;&nbsp;Сохранить&nbsp;&nbsp;</md-button>
                    <md-button class="md-raised md-primary" ng-click="handlers.onCancelClick()">&nbsp;&nbsp;Отменить&nbsp;&nbsp;</md-button>
                </div>
                <div ng-hide="editMode" ng-cloak>
                    <md-button class="md-raised md-primary" ng-click="handlers.onEditClick()">&nbsp;&nbsp;Редактировать&nbsp;&nbsp;</md-button>
                </div>
            </div>

        </div>
    </div>

    <div layout="row" layout-margin layout-fill>
        <div flex="25" class="grid-tile" id="photoGrid">
            <div class="grid-tile" layout="column" layout-padding layout-align="space-around center">
                <div>
                    <div ng-style="CaruselStyle()" id="mainCarusel" adjuster>
                        <img ng-repeat="slide in photoSlider.slides" class="slide slide-animation nonDraggableImage"
                             ng-hide="!photoSlider.isCurrentSlideIndex($index)" ng-src="{{slide.image}}">
                        <a class="arrow prev" ng-click="photoSlider.nextSlide()" ng-hide="photoSlider.slides.length <= 1 "></a>
                        <a class="arrow next" ng-click="photoSlider.prevSlide()" ng-hide="photoSlider.slides.length <= 1 "></a>
                        <nav class="nav" ng-hide="photoSlider.slides.length <= 1 ">
                            <div class="wrapper">
                                <ul class="dots">
                                    <li class="dot" ng-repeat="slide in photoSlider.slides">
                                        <a ng-class="{'active':photoSlider.isCurrentSlideIndex($index)}"
                                           ng-click="photoSlider.setCurrentSlideIndex($index);">{{slide.description}}</a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>

                <div style="margin-left:10px;">
                    <h2>Фотографии:</h2>
                </div>
                <div style="width:100%" id="miniphotodesc">
                    <div layout="row" ng-repeat="item in participant.photos" style="width:100%">
                        <div flex-gt-lg="5" flex="0"></div>
                        <div flex="15">
                            <img ng-src="api/Documents/GetPhoto/{{item.photoId}}" ng-click="handlers.GetPhoto(item.photoId)" alt="Фотография" style="max-height:40px;max-width:30px;" />
                        </div>
                        <div flex="50">
                            <a ng-click="handlers.GetPhoto(item.photoId)" ng-class="{deletefile:handlers.isPhotoDeleted(item)}">
                                <div>
                                    {{item.description|limitTo:20}}
                                </div>
                            </a>
                        </div>
                        <div flex="35" ng-show="editMode">
                            <md-button class="md-raised md-primary" ng-click="handlers.unDeletePhoto(item)" ng-show="handlers.isPhotoDeleted(item)">Отменить</md-button>
                            <md-button class="md-raised md-primary" ng-click="handlers.DeletePhoto(item)" ng-hide="handlers.isPhotoDeleted(item)">Удалить&nbsp;</md-button>
                        </div>
                    </div>
                </div>

                <div ng-show="editMode" style="width:100%; margin-top:5px;">
                    <md-divider style="width:100%;"></md-divider>
                    <br />
                    <div style="color:gray;text-align:center">Фотографии для загрузки:</div>
                    <br />

                    <table class="Documents">
                        <col width="85%" />
                        <col width="15%" />
                        <tbody>
                            <tr ng-repeat="item in photoFile" style="border:1px dashed gray; border-collapse:separate; color:gray;">
                                <td>
                                    {{item.name|shortPhotoDesc}}
                                </td>
                                <td style="text-align:center">
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true" ng-click="handlers.RemoveFromPhotoSelected($index)" style="cursor:pointer;" title="Удалить из загрузки"></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div ng-show="editMode" style="margin: 15px 5px 5px 5px; width:90%">
                    <div ngf-drop class="drop-box"
                         ngf-drag-over-class="dragover"
                         ngf-multiple="true"
                         ngf-allow-dir="true"
                         ngf-max-size='31457280'
                         ngf-hide-on-drop-not-available="true"
                         ngf-change="handlers.PhotoFileSelected($files, $event)"
                         ngf-accept="'image/*'"><p style="padding-top:8%">Перетащите фотографии в данную область для загрузки</p></div>
                </div>

                <div ng-show="editMode" style="text-align:center;margin: 10px 10px 10px 10px;">
                    <md-button style="position:relative" class="md-raised md-primary" ng-show="editMode" type="file" accept="image/*" ngf-select ngf-change="handlers.PhotoFileSelected($files, $event)" ngf-multiple="false" ngf-max-size='31457280'>Добавить фотографию</md-button>
                </div>

            </div>

        </div>
        <div flex class="grid-tile">
            <div layout="column" layout-padding layout-margin layout-align="left" style="width: 100%; padding-left: 20pt; height:80%" ng-hide="editMode" ng-cloak>
                <div layout="row" layout-align="start center">
                    <div>
                        <md-input-container>
                            <label>Статус</label>
                            <input ng-model="participant.type.name" ng-readonly="!editMode">
                        </md-input-container>
                    </div>
                    <div>
                        <md-input-container>
                            <label>Звание/Должность</label>
                            <input ng-model="participant.rank" ng-readonly="!editMode">
                        </md-input-container>
                    </div>
                </div>
                <div layout="row" layout-align="start center">
                    <div>
                        <md-input-container>
                            <label>Фамилия</label>
                            <input ng-model="participant.surname" ng-readonly="!editMode">
                        </md-input-container>
                    </div>
                    <div>
                        <md-input-container>
                            <label>Имя</label>
                            <input ng-model="participant.firstname" ng-readonly="!editMode">
                        </md-input-container>
                    </div>
                    <div>
                        <md-input-container>
                            <label>Отчество</label>
                            <input ng-model="participant.middlename" ng-readonly="!editMode">
                        </md-input-container>
                    </div>
                </div>
                <div layout="row" layout-align="start center">
                    <div flex="20" style="width:20%">
                        <md-input-container>
                            <label>Дата рождения</label>
                            <input ng-model="birthday_str" ng-readonly="!editMode">
                        </md-input-container>
                    </div>
                    <div flex="20" style="width:20%">
                        <md-input-container>
                            <label>Дата смерти</label>
                            <input ng-model="death_str" ng-readonly="!editMode">
                        </md-input-container>
                    </div>
                    <div flex="30" style="width:30%">
                        <md-input-container>
                            <label>Место рождения</label>
                            <input ng-model="participant.birthplace" ng-readonly="!editMode">
                        </md-input-container>
                    </div>
                </div>
                <div layout="row">
                    <div style="width:100%">
                        <label style="color:rgba(0,0,0,0.54);">Биография:</label>
                        <md-content layout-padding ng-bind="participant.description" ng-readonly="!editMode" style="white-space: pre-wrap;width: 100%;
                                        background-color: transparent;padding-right: 20px;text-align: justify;text-justify:distribute;max-height:600px;"></md-content>
                    </div>
                </div>
            </div>


            <div layout="column" layout-padding layout-align="left" style="width: 100%; padding-left: 20pt; height:80%" ng-hide="!editMode" ng-cloak>
                <form name="detailsForm" style="padding-top: 8px; padding-left: 9px;">
                    <div layout="row" layout-align="start center">
                        <div style="padding-bottom: 18px;">
                            <md-select name="selector" ng-model="new_record.type" ng-required="new_record.type.value > 0" ng-attr-placeholder="Статус" style="width:200px;">
                                <md-option ng-value="opt" ng-repeat="opt in types" ng-selected="parseInt(opt.value)===parseInt(new_record.type.value)">{{ opt.name }}</md-option>
                            </md-select>
                        </div>
                        <div>
                            <md-input-container>
                                <label>Звание/Должность</label>
                                <input ng-model="new_record.rank">
                            </md-input-container>
                        </div>
                    </div>
                    <div layout="row" layout-align="start center">
                        <div>
                            <md-input-container>
                                <label>Фамилия</label>
                                <input ng-model="new_record.surname" name="surname" autofocus="createMode" type="text" required ng-pattern="/^(\D)+$/">
                                <div ng-messages="detailsForm.surname.$error">
                                    <div ng-message="required">Обязательное поле</div>
                                    <div ng-message="pattern">Разрешены только буквы</div>
                                </div>
                            </md-input-container>
                        </div>
                        <div>
                            <md-input-container>
                                <label>Имя</label>
                                <input ng-model="new_record.firstname">
                            </md-input-container>
                        </div>
                        <div>
                            <md-input-container>
                                <label>Отчество</label>
                                <input ng-model="new_record.middlename">
                            </md-input-container>
                        </div>
                    </div>
                    <div layout="row" layout-align="start center">
                        <div flex="20" style="width:20%;">
                            <md-input-container>
                                <label>Дата рождения</label>
                                <input ui-date="dateOptions"
                                       style="width:200px;"
                                       ng-model="new_record.birthday"
                                       ui-date-format="yy-mm-dd">
                            </md-input-container>
                        </div>
                        <div flex="20" style="width:20%;">
                            <md-input-container>
                                <label>Дата смерти</label>
                                <input ui-date="dateOptions"
                                       style="width:200px;"
                                       ng-model="new_record.deathday"
                                       ui-date-format="yy-mm-dd">
                            </md-input-container>
                        </div>
                        <div flex="30" style="width:30%;">
                            <md-input-container>
                                <label>Место рождения</label>
                                <input ng-model="new_record.birthplace">
                            </md-input-container>
                        </div>
                    </div>
                    <div layout="row">
                        <div style="width:100%;height:100%;">
                            <label style="color:rgba(0,0,0,0.54);">Биография:</label>
                            <textarea ng-model="new_record.description" class="form-control" ng-attr-placeholder="Биография" rows="20"
                                      style="width:100%; height:100%; max-height:400px; max-width:1200px; white-space: pre-wrap;background-color: transparent;
                                        padding-right: 20px;text-align: justify;text-justify:distribute;"></textarea>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>

    <div layout="row">
        <div flex style="width:100%">
            <div class="grid-tile" layout="column" layout-margin layout-padding>
                <div style="margin-left:10px;">
                    <h2>Документы:</h2>
                </div>
                <div>
                    <div layout="row" layout-align="start center" layout-padding ng-repeat="item in participant.documents">
                        <div style="width:35px">
                            <div ng-switch="item.extension">
                                <div ng-switch-when=".docx" title="Сохранить в .docx" class="BtnWord" ng-click="handlers.GetDocument(item.documentId)"></div>
                                <div ng-switch-when=".doc" title="Сохранить в .doc" class="BtnWord" ng-click="handlers.GetDocument(item.documentId)"></div>
                                <div ng-switch-when=".pdf" title="Сохранить в .pdf" class="BtnPdf" ng-click="handlers.GetDocument(item.documentId)"></div>
                                <div ng-switch-when=".jpg" title="Сохранить в .jpg" class="BtnPhoto" ng-click="handlers.GetDocument(item.documentId)"></div>
                                <div ng-switch-when=".jpeg" title="Сохранить в .jpeg" class="BtnPhoto" ng-click="handlers.GetDocument(item.documentId)"></div>
                                <div ng-switch-when=".png" title="Сохранить в .png" class="BtnPhoto" ng-click="handlers.GetDocument(item.documentId)"></div>
                                <div ng-switch-when=".bmp" title="Сохранить в .bmp" class="BtnPhoto" ng-click="handlers.GetDocument(item.documentId)"></div>
                                <div ng-switch-when=".xml" title="Сохранить в .xml" class="BtnXml" ng-click="handlers.GetDocument(item.documentId)"></div>
                                <div ng-switch-default title="Сохранить файл" class="BtnUnknown" ng-click="handlers.GetDocument(item.documentId)"></div>
                            </div>
                        </div>
                        <div>
                            <a ng-click="handlers.GetDocument(item.documentId)" ng-class="{deletefile:handlers.isDocDeleted(item)}">{{item.name}}</a>
                        </div>
                        <div ng-show="editMode" style="padding-left:10px;">
                            <md-button class="md-raised md-primary" ng-click="handlers.unDeleteDocument(item)" ng-show="handlers.isDocDeleted(item)">Отменить</md-button>
                            <md-button class="md-raised md-primary" ng-click="handlers.DeleteDocument(item)" ng-hide="handlers.isDocDeleted(item)">Удалить&nbsp;</md-button>
                        </div>
                    </div>
                </div>

                <div ng-show="editMode" style="margin:10px 10px 10px 10px;">
                    <md-divider style="width:100%;"></md-divider>
                </div>

                <div style="margin-left:10px;color:gray;" ng-show="editMode">
                    <h4>Документы для загрузки:</h4>
                </div>

                <div ng-show="editMode" style="text-align:center; margin: 5px 20px 10px 20px;width:25%;">
                    <table class="Documents">
                        <col width="85%" />
                        <col width="15%" />
                        <tbody>
                            <tr ng-repeat="item in docFile" style="border:1px dashed gray; border-collapse:separate; color:gray;">
                                <td>
                                    {{item.name}}
                                </td>
                                <td style="text-align:right">
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true" ng-click="handlers.RemoveFromDocSelected($index)" style="cursor:pointer;" title="Удалить из загрузки"></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div ng-show="editMode" style="text-align:center; vertical-align:central; margin: 20px 20px 20px 20px;">
                    <div ngf-drop class="drop-box"
                         ngf-drag-over-class="dragover"
                         ngf-multiple="true"
                         ngf-allow-dir="true"
                         ngf-max-size='31457280'
                         ngf-hide-on-drop-not-available="true"
                         ngf-change="handlers.DocumentFileSelected($files, $event)"
                         ngf-accept="'image/*,.doc,.docx,.pdf,.txt,.ppt,.pptx,.xls,.xlsx,.rtf'">
                        <p style="padding-top:2%">Перетащите документы в данную область для загрузки</p>
                    </div>
                </div>

                <div ng-show="editMode" style="margin: 20px 20px 20px 20px;">
                    <md-button class="md-raised md-primary" ng-show="editMode" type="file" ngf-select ngf-change="handlers.DocumentFileSelected($files, $event)" ngf-multiple="false" ngf-max-size='31457280' ngf-accept="'image/*,.doc,.docx,.pdf,.txt,.ppt,.pptx,.xls,.xlsx,.rtf'">Добавить файл</md-button>
                </div>
            </div>

        </div>
    </div>
</div>


