<div layout="column">
    &nbsp;
    <div layout="row">
        <div flex="20">
            <md-button class="md-raised md-primary" ng-click="handlers.onGetBackClick()">&nbsp;&nbsp;Вернуться&nbsp;&nbsp;</md-button>
        </div>
        <div flex="60"></div>
        <div flex="20" style="text-align:right">
            <md-button class="md-raised md-primary" ng-hide="editMode" ng-click="handlers.onEditClick()">&nbsp;&nbsp;Редактировать&nbsp;&nbsp;</md-button>
            <md-button class="md-raised md-primary" ng-show="editMode" ng-click="handlers.onSaveClick()">&nbsp;&nbsp;Сохранить&nbsp;&nbsp;</md-button>
            &nbsp;
            <md-button class="md-raised md-primary" ng-show="editMode" ng-click="handlers.onCancelClick()">&nbsp;&nbsp;Отменить&nbsp;&nbsp;</md-button>
        </div>
    </div>
    &nbsp;
    <div>
        <md-grid-list md-cols-sm="1" md-cols-md="2" md-cols-gt-md="6"
                      md-row-height="3:5"
                      md-gutter="12px" md-gutter-gt-sm="8px">

            <md-grid-tile class="md-primary" md-rowspan="1" md-colspan="2" md-colspan-sm="1">
                <md-grid-tile-header style="z-index: 2;">
                    <h3>Фотография</h3>
                </md-grid-tile-header>

                <carousel interval="slideInterval" style="width:auto; height:100%;z-index: 0;">
                    <slide ng-repeat="slide in slides" active="slide.active">
                        <img ng-src="{{slide.image}}" style="width:auto; height:100%;">
                        <!--<div class="carousel-caption"><p>{{slide.text}}</p></div>-->
                    </slide>
                </carousel>

                <!--<img ng-show="delayshow" ng-src="api/Documents/GetPhoto/{{participant.photos[0].photoId}}" style="width:auto; height:100%;" />-->
                &nbsp;&nbsp;
                <md-button class="md-raised md-primary" ng-show="editMode" type="file" ngf-select ngf-change="handlers.PhotoFileSelected($files, $event)" ngf-multiple="false">Выбрать файл</md-button>
                &nbsp;&nbsp;
            </md-grid-tile>

            <md-grid-tile class="md-primary" md-colspan="4" md-colspan-sm="1" md-colspan-md="2" md-rowspan="1">
                <md-grid-tile-header>
                    <h3>Персональные данные:</h3>
                </md-grid-tile-header>

                <div layout="column" layout-align="left" style="width: 100%; padding-left: 20pt; height:80%">
                    <div layout="row">
                        <md-input-container md-no-float ng-hide="editMode">
                            <label>Статус</label>
                            <input ng-model="participant.type.name" ng-readonly="!editMode">
                        </md-input-container>

                        <md-select ng-show="editMode" ng-model="new_record.type" placeholder="Статус" style="width:200px;">
                            <md-option ng-value="opt" ng-repeat="opt in types" ng-selected="opt.value==new_record.type.value">{{ opt.name }}</md-option>
                        </md-select>
                    </div>
                    <div layout="row">
                        <md-input-container md-no-float ng-hide="editMode">
                            <label>Фамилия</label>
                            <input ng-model="participant.surname" ng-readonly="!editMode">
                        </md-input-container>
                        <md-input-container md-no-float ng-show="editMode">
                            <label>Фамилия</label>
                            <input ng-model="new_record.surname" ng-readonly="!editMode">
                        </md-input-container>
                        <md-input-container ng-hide="editMode">
                            <label>Имя</label>
                            <input ng-model="participant.firstname" ng-readonly="!editMode">
                        </md-input-container>
                        <md-input-container md-no-float ng-show="editMode">
                            <label>Имя</label>
                            <input ng-model="new_record.firstname" ng-readonly="!editMode">
                        </md-input-container>
                        <md-input-container md-no-float ng-hide="editMode">
                            <label>Отчество</label>
                            <input ng-model="participant.middlename" ng-readonly="!editMode">
                        </md-input-container>
                        <md-input-container md-no-float ng-show="editMode">
                            <label>Отчество</label>
                            <input ng-model="new_record.middlename" ng-readonly="!editMode">
                        </md-input-container>
                    </div>
                    <div layout="row">
                        <div flex="20">
                            <md-input-container md-no-float ng-hide="editMode">
                                <label>Дата рождения</label>
                                <input ng-model="birthday_str" ng-readonly="!editMode">
                            </md-input-container>

                            <md-input-container ng-show="editMode">
                                <label>Дата рождения</label>
                                <input ui-date="dateOptions"
                                       style="width:200px;"
                                       ng-model="new_record.birthday"
                                       ui-date-format="yy-mm-dd">
                            </md-input-container>
                        </div>
                        <div flex="20">
                            <md-input-container md-no-float ng-hide="editMode">
                                <label>Дата смерти</label>
                                <input ng-model="death_str" ng-readonly="!editMode">
                            </md-input-container>

                            <md-input-container ng-show="editMode">
                                <label>Дата смерти</label>
                                <input ui-date="dateOptions"
                                       style="width:200px;"
                                       ng-model="new_record.deathday"
                                       ui-date-format="yy-mm-dd">
                            </md-input-container>
                        </div>
                        <div flex ="30">
                            <md-input-container md-no-float ng-hide="editMode">
                                <label>Место рождения</label>
                                <input ng-model="participant.birthplace" ng-readonly="!editMode">
                            </md-input-container>
                            <md-input-container md-no-float ng-show="editMode">
                                <label>Место рождения</label>
                                <input ng-model="new_record.birthplace" ng-readonly="!editMode">
                            </md-input-container>
                        </div>
                    </div>
                    <div layout="row" layout-wrap>
                        <md-input-container flex ng-hide="editMode">
                            <label>Биография</label>
                            <textarea ng-model="participant.description" columns="1" ng-readonly="!editMode" style="margin: 0px -0.5px 0px 0px; width: 95%; height: 100px; max-height:250px; max-width:100%; background:transparent;  cursor: default;"></textarea>
                        </md-input-container>

                        <textarea ng-show="editMode" ng-readonly="!editMode" editmode"" ng-model="new_record.description" class="form-control" placeholder="Биография" style="width: 95%; height: 100px; max-height:200px; max-width:100%;"></textarea>
                    </div>
                </div>
            </md-grid-tile>

            <md-grid-tile class="md-primary" md-colspan="6" md-rowspan="1" md-colspan-sm="1" md-colspan-md="2">
                <md-grid-tile-header>
                    <h3>Документы:</h3>
                </md-grid-tile-header>

                <div layout="column" style="width: 100%; padding-left: 20pt;">
                    <div>&nbsp;</div>
                    <div layout="row" layout-wrap>
                        <div flex="5">&nbsp;</div>
                        <div flex="95">
                            <table class="Documents">
                                <col width="5%" />
                                <col width="95%" />
                                <tbody>
                                    <tr ng-repeat="item in participant.documents">
                                        <td>
                                            <div ng-show="item.extension == '.docx' || item.extension == '.doc'" title="Сохранить в .docx" class="BtnWord" ng-click="handlers.GetDocument(item.documentId)"></div>
                                            <div ng-show="item.extension == '.pdf'" title="Сохранить в .pdf" class="BtnPdf" ng-click="handlers.GetDocument(item.documentId)"></div>
                                            <div ng-show="item.extension == '.jpg' || item.extension == '.jpeg' || item.extension == '.png'  " title="Сохранить в .pdf" class="BtnPhoto" ng-click="handlers.GetDocument(item.documentId)"></div>
                                        </td>
                                        <td>
                                            <a ng-click="handlers.GetDocument(item.documentId)">{{item.name}}</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            &nbsp;
                            <md-button class="md-raised md-primary" ng-show="editMode" type="file" ngf-select ngf-change="handlers.DocumentFileSelected($files, $event)" ngf-multiple="false">Выбрать файл</md-button>
                            &nbsp;
                        </div>
                        <div flex="5"></div>
                    </div>
                </div>

            </md-grid-tile>
        </md-grid-list>
    </div>
</div>


